demo { display: block; }

/* add a grey bar with the `aria-label` as demo title */
demo:before {
    content: "Demo: " attr(aria-label);
    display: block;
    background: #F3F5F5;
    padding: .5em;
    clear: both;
    margin: .5em 0;
}

.demo-spacer {
    display: block;
    height: 1em;
}